<html>

<head>
    <title>To Do List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="/js/todolist.js"></script>
    <link rel="icon" type="images/png" href="/images/deadpoolicon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <h1></h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new Item here" required />
            <button class="add" type="submit">+ Add</button>
        </form>
        <ul>
            <% todos.forEach(function(todo){ %>
            <li>
                <div class="view-table-cell remove-btn-holder">
                    <button class="remove" type="submit" id=<%= todo.id %>>X</button>
                </div>
                <div class="view-table-cell text-list">
                    <%= todo.item %>
                </div>
            </li>
            <% }); %>
        </ul>
    </div>
    <footer> 
        <a href="https://github.com/Mondal10/To-do-app">
            <img src="/images/githubIcon.png" alt="Follow me" class="gitImg">
        </a>
    </footer>
</body>

</html>