body {
    background: #4c5661;
    font-family: tahoma;
    color: #989898;
}

#todo-table {
    position: relative;
    width: 95%;
    background: #2a3038;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after {
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"] {
    width: 70%;
    padding: 20px;
    background: #181c22;
    border: 0;
    border-radius: 20px;
    float: left;
    font-size: 20px;
    color: #989898;
}

button {
    float: left;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.add {
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    background: #4c5661;
}

.remove {
    padding: 10px;
    border-radius: 30%;
    background: crimson;
}

.view-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.remove-btn-holder {
    width: 5%;
    cursor: pointer;
}

.text-list {
    width: 95%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    width: 100%;
    padding: 20px;
    display: table;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    letter-spacing: 1px;
}

li:hover {
    text-decoration: line-through;
    border-radius: 20px; 
    background: rgba(0, 0, 0, 0.2);
}

h1 {
    background: url(/images/Deadpool.png) no-repeat center;
    background-size: 300px 100px;
    height: 90px;
    margin-bottom: 0;
    margin-top: 30px;
}

.gitImg {
    width: 35px;
    height: 35px;
}

footer {
    position: relative;
    width: 0%;
    /* height: 10%; */
    background: #2a3038;
    border-radius: 20px;
    margin: 10 auto 0;
    box-sizing: border-box;
}